---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Ralph's About Me"
	pubDate={new Date("May 8, 2024")}
>
	<p>
		<p>
			My name is Ralph Cacho and I'm from The Bay Area. As a Senior Software Engineer, my main focus has been on frontend development using JavaScript, TypeScript and React. As an individual contributor, collaborating with a team to develop innovative products drives my passion and commitment. I value supporting my peers and building strong relationships for successful outcomes. I am dedicated to improving my current skillset and learning new skills. In the future, I'm open to exploring roles in management/leadership to guide projects and mentor other engineers that are early in their career.
		</p>
		<p>
			Every day, I embrace several core work values:
			<ul>
					<li>
							Collaboration: I prioritize teamwork and open communication, whether I'm offering support to others or seeking help when facing challenges.
					</li>
					<li>
							Respect: I highly value diversity and inclusivity in the workplace, welcoming different perspectives and experiences.
					</li>
					<li>
							Quality: My goal is to produce exceptional work while continuously seeking ways to improve.
					</li>
					<li>
							Empathy: I strive to be considerate of others' personal challenges outside of work and always choose kindness in my interactions.
					</li>
					<li>
							Communication: I make an effort to regularly check in with co-workers, fostering a supportive environment and ensuring everyone feels heard and valued.
					</li>
			</ul>
		</p>

		<p>
			In my free time, I like to read books on self improvement, communication, and software engineering. I also enjoy working on side projects and learning new technologies to expand my ability to create.
		</p>

		<p>
			In addition to my work, I enjoy a range of hobbies that include playing Magic: The Gathering, spending weekends outdoors with my wife and our dog, trying out new recipes, and practicing photography.
		</p>
	</p>
</Layout>
<style>
	p {
		text-align: justify;
	}
</style>