---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Ralph's About Me"
	pubDate={new Date("May 8, 2024")}
>
	<p>
		<p>
			My name is Ralph Cacho and I am a Software Engineer from The Bay Area. My recent experience has been on frontend development using JavaScript, TypeScript and React, and more. I value supporting my peers and building strong professional relationships. I am dedicated to improving my current skillset and learning new skills. In the future, I'm open to exploring roles in management/leadership to guide projects and mentor other engineers that are early in their career.
		</p>
		<p>
			I embrace several core work values:
			<ul>
					<li>
							Collaboration: I prioritize teamwork and open communication, whether I'm offering support to others or seeking help when facing challenges.
					</li>
					<li>
							Respect: I highly value diversity and inclusivity in the workplace, welcoming different perspectives and experiences.
					</li>
					<li>
							Quality: My goal is to produce exceptional work while continuously seeking ways to improve.
					</li>
					<li>
							Empathy: I strive to be considerate of others' personal challenges outside of work and to regularly check in with them.
					</li>
			</ul>
		</p>
		<p>
			In addition to my work, I enjoy a range of hobbies that include playing Magic: The Gathering, spending my weekends going out with my wife and our dog, trying out new recipes, and practicing photography. I also like to read books on self improvement, communication, and software engineering. If you have any recommendations, lemme know!
		</p>
	</p>
</Layout>
<style>
	p {
		text-align: justify;
	}
</style>